.type-ahead input {
    border: 1px solid #ddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: #777;
    font-family: arial;
    font-size: 20px;
    outline: 0;
    padding: 10px;
    margin: 0;
    width: 278px;
}
.type-ahead .wrapper {
    position: relative;
}
.type-ahead ul {
    background: #fff;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 300px;
    z-index: 9999;
}
.type-ahead li {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: #999;
    font-family: arial;
    list-style-type: none;
    padding: 10px;
}
.type-ahead li.highlight {
    background-color: #fcfcfc;
    cursor: pointer;
}
